{% extends 'layout.html'%}

{% block content %} 
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<section class="inhome">
    <div class="incontainer">
        <div class="inrow">
            <div class="home-text">
                <p></p>
                <h1>Predicting Early Stage Diabetes</h1>
                <p class="animate-text">
                    <span>Maintain a healthy diet</span><br>
                    <!-- <span>Exercise regularly</span><br>
                    <span>Maintain a healthy diet</span><br> -->
                </p>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}