{% extends 'layout.html'%}

{% block content %} 
<div class="precontainer" style="background-image: url('https://images.unsplash.com/photo-1624454002429-40ed87a5ec04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); width: 100%; height: 100%; background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
    <br><br>
    <section id="prediction-form">
        <form class="form" action="/predict", method="POST">
            <h1 class="my-3 text-center">Predictor</h1>
            <div class="row">
                <div class="my-2">
                    <div class="md-form">
                        <label for="name" class="name">Name</label>
                        <input type="text" class="form-control" id="tname" name="tname">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="age" class="age">Age</label>
                        <input type="number" class="form-control" id="nage" name="nage">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="gender" class="gender" name="gender">Gender</label><br>
                        <select class="form-select" id="tgender" name="tgender" aria-label="Gender">
                            <option value= 1>Male</option>
                            <option value= 0>Female</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="polyuria" class="polyuria" name="polyuria">Do you have Polyuria</label><br>
                        <select class="form-select" id="tpolyuria" name="tpolyuria" aria-label="Polyuria">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="polyuria" class="polydipsia" name="polydipsia">Do you have Polydipsia</label><br>
                        <select class="form-select" id="tpolydipsia" name="tpolydipsia" aria-label="Polydipsia">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="wloss" class="wloss" name="wloss">Do you have Sudden weight loss</label><br>
                        <select class="form-select" id="twloss" name="twloss" aria-label="weightloss">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="weak" class="weak" name="weak">Do you have Weakness</label><br>
                        <select class="form-select" id="tweak" name="tweak" aria-label="Weakness">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="polyphagia" class="polyphagia" name="polyphagia">Do you have Polyphagia</label><br>
                        <select class="form-select" id="tpolyphagia" name="tpolyphagia" aria-label="Polyphagia">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="genital" class="genital" name="genital">Do you have Genital thrush</label><br>
                        <select class="form-select" id="tgenital" name="tgenital" aria-label="Genital">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="visualb" class="visualb" name="visualb">Do you have Visual blurring</label><br>
                        <select class="form-select" id="tvisualb" name="tvisualb" aria-label="Visual">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="itch" class="itch" name="itch">Do you have Itching</label><br>
                        <select class="form-select" id="titch" name="titch" aria-label="Itching">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="irrit" class="irrit" name="irrit">Do you have irritability</label><br>
                        <select class="form-select" id="tirrit" name="tirrit" aria-label="Irrit">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="heal" class="heal" name="heal">Do you have delayed healing</label><br>
                        <select class="form-select" id="theal" name="theal" aria-label="Healing">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="paresis" class="paresis" name="paresis">Do you have partial paresis</label><br>
                        <select class="form-select" id="tparesis" name="tparesis" aria-label="Paresis">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="muscle" class="muscle" name="muscle">Do you have Muscle stiffness</label><br>
                        <select class="form-select" id="tmuscle" name="tmuscle" aria-label="Muscle">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="alopecia" class="alopecia" name="alopecia">Do you have alopecia</label><br>
                        <select class="form-select" id="talopecia" name="talopecia" aria-label="Alopecia">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="obesity" class="obesity" name="obesity">Do you have Obesity</label><br>
                        <select class="form-select" id="tobesity" name="tobesity" aria-label="Obesity">
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2 d-flex align-items-end justify-content-around">
                    <button type="submit" class="btn btn-info button" style="margin-left: 100%;">Predict</button>
                </div>
            </div>
        </form>
    </section>
    <div>
         <h1><center> {{ output }} </center></h1>
    </div>
    
    <br><br><br>
    <br><br><br>
</div>


<!-- 
    	age|gender|	polyuria|	polydipsia|	sudden weight loss|	weakness|	polyphagia|	genital thrush	|visual blurring|	itching|	  irritability|	delayed healing| 	partial paresis|	  muscle stiffness |	alopecia|	obesity	class
    	40	Male 1	 No 0	        Yes 1	        No 0	    Yes 1	    No 0	    No	0               No 0	     Yes 1	    No 0	     Yes 1	                No 0            	Yes	1            Yes 1	 yes 1                                                             Yes	Positive
    -->

{% endblock content %}
