@import url('https://fonts.cdnfonts.com/css/poppins');
*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

body {
    background-color: #6feef5;
    font-family: 'Poppins', sans-serif;
}

/* Prediction */
.form {
    background-color: white;
    width: 70vw;
    margin: 50px auto;
    padding: 20px 50px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 12px;
}
.form h1 {
    color: #0fd3dd;
}

.button {
    padding: 5px 30px;
    font-size: 18px;
}
.pcontainer{
    background: rgba(201, 198, 198, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: auto;
    width: 50%;
    border: 3px solid #ff9c59;
    padding: 10px;
    box-shadow: 10px;
}

/* Index */
.incontainer{
    max-width: 1170px;
    margin: auto;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.inhome{
    height: 85vh;
    background-image: url("../static/img/bg-index.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
}

.inhome .home-text{
    text-align: center;
}

.inhome .home-text h1{
    color: #181717de;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Result Page */
.res{
    margin: auto;
    width: 50%;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.res p{
    text-align: justify;
}

.resbackground{
    background-image: url("../static/img/bg-result.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
}